<h1>
  Edit vote #<%= @vote.id %>
</h1>

<hr>

<form action="/update_vote/<%= @vote.id %>" method="post">

  <div class="form-group">
    <label for="proposed_time_id">
      Proposed time
    </label>

    <input type="text" id="proposed_time_id" name="proposed_time_id" class="form-control" value="<%= @vote.proposed_time_id %>">
  </div>

  <div class="form-group">
    <label for="voter_id">
      Voter
    </label>

    <input type="text" id="voter_id" name="voter_id" class="form-control" value="<%= @vote.voter_id %>">
  </div>

  <div class="form-group">
    <label for="event_id">
      Event
    </label>

    <input type="text" id="event_id" name="event_id" class="form-control" value="<%= @vote.event_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update vote
  </button>
</form>

<hr>

<a href="/votes">
  Go back
</a>
