<%= render("/layouts/navbar.html.erb") %>

<p> </p>

<h1>
  Add invitees for <%= @event.event_name %> Event
</h1>

<dt>Description</dt>
<dd><%=@event.event_desc %></dd>

<dt>Event Window</dt>
<dd>From: <%=@event.window_begin %> To: <%=@event.window_end %></dd>

<dt>Length</dt>
<dd><%=@event.min_length %> Minutes</dd>

<dt>Location</dt>
<dd><%=@event.location %></dd>

<dt>Invitees</dt>
<% if Membership.all.where({:event_id => @event.id}).nil? %>
    <dd>No invitees. Don't forget to add yourself!</dd>
<% elsif Membership.all.where({:event_id => @event.id}).count == 0 %>
    <dd>No invitees. Don't forget to add yourself!</dd>
<% else %>
    <dd><% @users.pluck(:gmail) %></dd>
<% end %>


<form action="/event/save_invitees">
  <input type="hidden" id="event_id" name="event_id" value="<%= @event.id %>">
  <select id="user_dropdown" name="member_id" >
    <% User.all.order({ :first_name => :asc }).each do |a_user| %>
      <option value="<%= a_user.id %>">
        <%= a_user.gmail %>
      </option>
    <% end %>
  </select> 
  <button>
    Add Invitee
  </button>
</form>

<form action="/event/details/"+<%= @event.id %>>
  <button>
    Finish
  </button>
</form>