<%= render("/layouts/navbar.html.erb") %>

<p> </p>

<h1>
  <%= @event.event_name %> Event Details
</h1>

<dt>Description</dt>
<dd><%=@event.event_desc %></dd>

<dt>Event Window</dt>
<dd>From: <%=@event.window_begin %> To: <%=@event.window_end %></dd>

<dt>Length</dt>
<dd><%=@event.min_length %> Minutes</dd>

<dt>Location</dt>
<dd><%=@event.location %></dd>

<dt>Invitees</dt>
<% if Membership.all.where({:event_id = @event.id}).nil? %>
    <dd>No invitees. Don't forget to add yourself!</dd>
<% elsif Membership.all.where({:event_id = @event.id}).count == 0 %>
    <dd>No invitees. Don't forget to add yourself!</dd>
<% else %>
    <dd><% Membership.all.where({:event_id = @event.id}).to_sentence %></dd>
    <% end %>
<% end %>


<form action="/event/add_users/"+<%= @event.id %>>
  <button>
    Add Invitee
  </button>
</form>

<form action="/event/details/"+<%= @event.id %>>
  <button>
    Finish
  </button>
</form>