<h1>
  Edit tbd event #<%= @tbd_event.id %>
</h1>

<hr>

<form action="/update_tbd_event/<%= @tbd_event.id %>" method="post">

  <div class="form-group">
    <label for="event_name">
      Event name
    </label>

    <input type="text" id="event_name" name="event_name" class="form-control" value="<%= @tbd_event.event_name %>">
  </div>

  <div class="form-group">
    <label for="event_desc">
      Event desc
    </label>

    <input type="text" id="event_desc" name="event_desc" class="form-control" value="<%= @tbd_event.event_desc %>">
  </div>

  <div class="form-group">
    <label for="window_begin">
      Window begin
    </label>

    <input type="text" id="window_begin" name="window_begin" class="form-control" value="<%= @tbd_event.window_begin %>">
  </div>

  <div class="form-group">
    <label for="window_end">
      Window end
    </label>

    <input type="text" id="window_end" name="window_end" class="form-control" value="<%= @tbd_event.window_end %>">
  </div>

  <div class="form-group">
    <label for="min_length">
      Min length
    </label>

    <input type="text" id="min_length" name="min_length" class="form-control" value="<%= @tbd_event.min_length %>">
  </div>

  <div class="form-group">
    <label for="start_time">
      Start time
    </label>

    <input type="text" id="start_time" name="start_time" class="form-control" value="<%= @tbd_event.start_time %>">
  </div>

  <div class="form-group">
    <label for="end_time">
      End time
    </label>

    <input type="text" id="end_time" name="end_time" class="form-control" value="<%= @tbd_event.end_time %>">
  </div>

  <div class="form-group">
    <label for="start_date">
      Start date
    </label>

    <input type="text" id="start_date" name="start_date" class="form-control" value="<%= @tbd_event.start_date %>">
  </div>

  <div class="form-group">
    <label for="end_date">
      End date
    </label>

    <input type="text" id="end_date" name="end_date" class="form-control" value="<%= @tbd_event.end_date %>">
  </div>

  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control" value="<%= @tbd_event.location %>">
  </div>

  <div class="form-group">
    <label for="creator_id">
      Creator
    </label>

    <input type="text" id="creator_id" name="creator_id" class="form-control" value="<%= @tbd_event.creator_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update tbd event
  </button>
</form>

<hr>

<a href="/tbd_events">
  Go back
</a>
